In [ ]:
def = 100

In [ ]:
for = "welcome"

SyntaxError: invalid syntax (<ipython-input-1-c2608204e479>, line 1)

In [ ]:
variable@ = 12345

SyntaxError: invalid syntax (<ipython-input-2-a0589b03db7c>, line 1)

In [ ]:
12a= "hello"

SyntaxError: invalid decimal literal (<ipython-input-3-3fa802acd67d>, line 1)

In [ ]:
code_python = [1,2,3,4]

In [ ]:
code python = [1,2,3,4]

SyntaxError: invalid syntax (<ipython-input-6-3ec7c5c70b27>, line 1)

In [ ]:
code_python2 = [1,2,3,4]

In [ ]:
a= int(input("Enter a number "))
print(a)
type(a)

Enter a number 56
56

int

In [ ]:
name=input("Enter your name ")
age=int(input("enter your age "))
print(f"name of this person is {name} and age is {age}")

Enter your name anu
enter your age 12
name of this person is anu and age is 12

In [ ]:
otp=int(input("enter otp "))
if otp== 1234:
    print("True")
else:
    print("False")

enter otp 12
False

In [ ]:
a=12
b=34
c=400
print(a>b and a<c)
print(a>b and a<=c)

False
False